@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap')

/* Colors */
/* Absolute Colors */
$white-color: #FFF
$black-color: #000
/* Background */
$background-color: #1E1E1E
/* Red Shades */
$color-45: #790000
$color-50: #FF0000
$color-55: #FF1919
$color-60: #FF3333
$color-80: #FF9999
$color-90: #FFCCCC
$color-95: #FFE5E5
$color-99: #FFFAFA

/* Gray Shades */
$color-60: #999999
$color-65: #A6A6A6
$color-70: #B3B3B3
$color-75: #BFBFBF
$color-90: #E4E4E7
$color-95: #F1F1F3
$color-97: #F7F7F8
$color-99: #FCFCFD

/* Fonts */
$font-source: 'Manrope', sans-serif
$light-weight: 400
$regular-weight: 500
$medium-weight: 600
$bold-weight: 700

/* Size screen */
$mobile-width: 375px
$desktop-width: 1280px