@use '../../styles/variables.sass' as *


.Home
    width: 1920px
    height: 5518px
    background-color:  #1E1E1E
    background-size: cover
    

.containerHome
    width: 100%
    height: 100vh
    background-color:  #1E1E1E
    position: absolute
    overflow: hidden
    &_banner
        width: 100%
        height: 80%
        position: relative
        background-image: url("https://res.cloudinary.com/dhhyc88td/image/upload/v1715893138/Sub_Container_qlcvxf.png")
        background-size: cover
        background-position: center
    &_description
        position: absolute
        top: 80%
        left: 50%
        transform: translate(-50%, -50%)
        text-align: center
        color: white
        padding: 20px
        &-title
            font-size: 78px
            font-family: Manrope
            font-weight: bold
        &-paragraph
            font-size: 31px
            margin-bottom: 30px
            color: $color-60
        &-button
            width: 251px
            height: 64px
            display: inline-flex
            align-items: center
            padding: 10px 20px
            background-color: $color-45
            color: white
            border: none
            border-radius: 8px
            font-size: 20px
            cursor: pointer
            text-decoration: none
            .button-icon
                margin-right: 10px
                color: white // Color del ícono
                border: none // Borde del ícono, en este caso sin borde
                font-size: 16px // Tamaño del ícon

    
        
