@use '../../styles/variables.sass' as *

.streaming-experience
    background-color: #121212
    color: #ffffff
    padding: 20px
    width: 100%
    height: auto
    h2
        font-size: 24px
        margin-bottom: 10px
        text-align: left
        font-size: 38
        font-weight: bold
        
    p
        font-size: 16px
        margin-bottom: 20px
        color: gray
    .device-grid
        display: flex
        flex-wrap: wrap
        gap: 20px
        .device
            background-color: #1e1e1e
            border: 1px solid #333333
            border-radius: 8px
            padding: 15px
            flex: 1 1 calc(33.333% - 40px)
        h3
            font-size: 18px
            margin-bottom: 10px
        p
            font-size: 14px